---
layout: default
title: Contato
permalink: /contact
---

<section
  class="d-flex flex-column align-items-center"
  style="padding: 0.75rem 0; gap: 2rem"
>
  <div class="d-flex flex-column gap-2">
    <h2 class="title-1 text-center">Entre em Contato</h2>

    <p class="text-center">
      Para entrar em contato conosco, preencha o formulário abaixo:
    </p>
  </div>

  <form
    action="{{ '/_api/processaContato.php' | absolute_url }}"
    method="POST"
    enctype="multipart/form-data"
    class="d-flex flex-column align-items-end gap-4 w-100"
    style="max-width: 640px"
  >
    {% include field.html label='Nome completo' placeholder='João da Silva'
    name='nome' required=true %}<!---->
    {% include field.html label='E-mail' placeholder='joaodasilva@email.com'
    name='email' required=true %}<!---->
    {% include field.html label='Mensagem' name='mensagem' required=true
    type='textarea' placeholder='Adorei as matérias que falam sobre Inteligência
    Artificial!'%}<!---->
    {% include button.html name="acao" text='Enviar' responsive=true %}
  </form>
</section>

<div>
  <h2>Nossa Equipe</h2>

  <span>Conheça a equipe talentosa por trás da nossa organização.</span>

  <div class="team-member">
    <img src="URL_DA_IMAGEM_MEMBRO_1" alt="Foto do Bruno do Amaral" />
    <h3>Bruno do Amaral</h3>
    <p>Cargo: Web developer.</p>
    <p>Descrição: Desenvolvedor web de nosso blog.</p>
  </div>

  <div class="team-member">
    <img src="URL_DA_IMAGEM_MEMBRO_2" alt="Foto do Guilherme Preveda Milék" />
    <h3>Guilherme Milék</h3>
    <p>Cargo: Deus do html e css.</p>
    <p>Descrição: Simplesmente o deus da web de nosso blog.</p>
  </div>

  <div class="team-member">
    <img src="URL_DA_IMAGEM_MEMBRO_3" alt="Foto do Ricardo Augusto Franco" />
    <h3>Ricardo Augusto Franco</h3>
    <p>Cargo: Pior desenvolvedor web da história.</p>
    <p>Descrição: O pior desenvolvedor web que nosso blog poderia ter.</p>
  </div>
</div>

<hr />

{% include newsletter.html %}
