---
layout: default
title: Página inicial
pagination:
  enabled: true
  offset: 1
---

<section class="d-flex flex-column" style="padding: 0.75rem 0; gap: 2rem">
  <h2 class="title-1 text-align-center">Em destaque</h2>
  <!-- prettier-ignore -->
  {% for post in site.posts limit:1 %}
    {% include post-card.html post=post %}
  {% endfor %}
</section>

{% include newsletter.html %}

<section class="d-flex flex-column" style="padding: 0.75rem 0; gap: 2rem">
  <h2 class="title-1">Outros posts</h2>

  <div class="d-flex flex-column align-items-center gap-4">
    <ol
      class="posts-grid post-listing d-grid gap-4"
      data-page="{{ paginator.page }}"
      data-totalPages="{{ paginator.total_pages }}"
    >
      <!-- prettier-ignore -->

      {% for post in paginator.posts %}
      <li>{% include post-card.html type='no-excerpt' post=post %}</li>
      {% endfor %}
    </ol>
  </div>
</section>

<!-- prettier-ignore -->
{% if paginator.next_page %}
  {% include button.html
    style='secondary'
    text='Carregar mais'
    button_type='load-more'
    align='center'
  %}
{% endif %}
