<header>
  <div
    class="content d-flex flex-column justify-content-center align-items-center"
  >
    <div class="logo d-flex align-items-center">
      <h1 class="text-uppercase large-title fw-bold">TECHNEWS</h1>
    </div>

    <ul class="d-flex flex-nowrap overflow-auto vw-100 px-5">
      {% for category in site.categories %} {% capture category_name
      %}{{category[0]}}{% endcapture %}

      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      <li>
        <a href="#"
          >{% include category.html type="clickable" content=category_name %}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</header>
