<header>
  <div
    class="content d-flex flex-column justify-content-center align-items-center"
  >
    <div class="logo d-flex align-items-center">
      <a href="{{'/' | absolute_url}}">
        <h1 class="large-title text-uppercase">TECHNEWS</h1>
      </a>
    </div>

    <nav>
      <ul class="d-flex overflow-x-auto">
        {% for category in site.categories %} {% capture category_name
        %}{{category[0]}}{% endcapture %} {% capture search_path
        %}/search/{{category_name}}{% endcapture %}

        <li>
          <a href="{{search_path | absolute_url}}"
            >{% include category.html type="clickable" text=category_name %}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
