<!-- prettier-ignore -->
{% capture regular_icon_path %}assets/images/icons/{{include.icon}}-regular.svg{% endcapture %}
{% capture filled_icon_path %}assets/images/icons/{{include.icon}}-filled.svg{% endcapture %}

<button
  class="social-button position-relative"
  title="{{include.title}}"
  data-button-type="{{include.type}}"
  data-post-identifier="{{include.identifier}}"
>
  <div class="position-relative" style="width: 1rem; height: 1rem">
    <img
      class="no-background-color w-100 h-100"
      src="{{regular_icon_path | absolute_url}}"
      alt=""
    />
    <img
      class="no-background-color position-absolute top-0 start-0 w-100 h-100"
      src="{{filled_icon_path | absolute_url}}"
      alt=""
    />
  </div>
</button>
