/* Colors */

:root {
  --white: #ffffff;

  --grey-84: #d6d6d6;
  --grey-74: #bdbdbd;
  --grey-68: #adadad;
  --grey-60: #5c5c5c;
  --grey-46: #757575;
  --grey-40: #666666;
  --grey-32: #525252;
  --grey-28: #424242;
  --grey-24: #3d3d3d;
  --grey-12: #1f1f1f;
  --grey-8: #141414;
  --grey-4: #0a0a0a;

  --black: #000000;

  --neutral-grey-white-transparent: rgb(255 255 255 / 0);
  --neutral-grey-16: #292929;
  --neutral-grey-black-transparent: rgb(0 0 0 / 0);

  --brand-100: #479ef5;
  --brand-80: #0f6cbd;
  --brand-70: #115ea3;

  --status-danger-1: #dc626d;
  --status-danger-3: #c50f1f;

  --status-away-1: #eaa300;

  --status-disabled-1: #5c5c5c;
}
