/* Global */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1f1f1f;

  color: #ffffff;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

li {
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

*:focus {
  outline: 2px solid #ffffff;
  outline-offset: 1px;
}

button,
input,
textarea {
  background: transparent;
  border: none;
}

.content {
  width: 100%;
  max-width: 1280px;

  margin: 0 auto;

  padding: 0 3rem;
}
