/* Global */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1f1f1f;

  color: #ffffff;

  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

li {
  list-style: none;
}

a {
  color: var(--grey-84);

  &:not(.no-hover) {
    transition: color 0.2s;

    &:hover {
      color: var(--brand-100);
    }
  }

  &.disabled {
    color: var(--grey-60);
  }
}

*:focus {
  outline: 2px solid #ffffff;
  outline-offset: 1px;
}

button,
input,
textarea {
  background: transparent;

  border: none;

  color: #ffffff;
}

.content {
  width: 100%;
  max-width: 1280px;

  margin: 0 auto;

  padding: 0 3rem;
}

.utterances {
  max-width: 100%;
}

@media (max-width: 640px) {
  html {
    font-size: 87.5%;
  }

  .content {
    padding: 0 1.5rem;
  }
}
