/* Typography */

.large-title {
  font-family: 'Space Mono', monospace;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
}

.title-1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.title-2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.title-3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.subtitle-2 {
  font-size: 1rem;
  line-height: 1.375rem;
}

.subtitle-2-stronger {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.375rem;
}

.body-1 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.body-1-strong {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}
.body-1-stronger {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.body-2 {
  font-size: 1rem;
  line-height: 1.375rem;
}

.caption-1 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.caption-1-strong {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}

.caption-1-stronger {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}
