.posts-grid {
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 440px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
