.field {
  flex-direction: column;

  & > .label > .required-asterisk {
    display: none;

    color: #dc626d;
  }

  & > .input-container {
    & > .input {
      & > input,
      & > textarea {
        background-color: #292929;

        padding: 0.3125rem 0.75rem 0.4375rem;
        border: 1px solid #666666;
        border-radius: 0.25rem;

        transition: border-color 0.2s;

        &::placeholder {
          color: #5c5c5c;
        }

        &:focus ~ .indicators {
          & > .in-focus {
            height: 2px;
            width: 100%;
          }

          & > .underline {
            height: 2px;

            background-color: #bdbdbd;
          }
        }
      }

      & > .indicators {
        & > .in-focus {
          width: 0;
          height: 0;

          background-color: #479ef5;

          transition: width 0.2s, height 0.2s;
        }

        & > .underline {
          height: 1px;

          background-color: #adadad;

          transition: height 0.2s, background-color 0.2s;
        }
      }
    }

    & > .status-text {
      display: none;

      color: #dc626d;
    }
  }

  &.left-label {
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }

  &.invalid > .input-container > .input > input,
  &.invalid > .input-container > .input > textarea,
  form.invalid > & > .input-container > .input > textarea:invalid,
  form.invalid > & > .input-container > .input > input:invalid {
    border-color: #dc626d;

    & ~ .status-text {
      display: flex;
    }
  }

  &.required > .label > .required-asterisk {
    display: initial;
  }
}
