/* Header */

header {
  background-color: #292929;

  .logo {
    height: 5.5rem;
  }

  & > div {
    min-height: 10.375rem;

    & > nav > ul {
      gap: 0.75rem;

      padding: 3px calc(3rem + 3px);
    }
  }

  @media (min-width: 1280px) {
    & > div > nav > ul {
      padding: 3px calc((100vw - 1280px) / 2 + 3rem + 3px);
    }
  }
}
