/* Header */

header > div > nav {
  width: calc(100% + (1.5rem * 2));

  & > ul {
    padding: 3px calc(1.5rem + 3px);
  }

  @media (min-width: 640px) {
    & {
      width: calc(100% + (3rem * 2));

      & > ul {
        padding: 3px calc(3rem + 3px);
      }
    }
  }

  @media (min-width: 1280px) {
    & {
      width: calc(100%);

      & > ul {
        padding: 3px 0;
      }
    }
  }
}
