.social-button {
  & > div {
    width: 1rem;
    height: 1rem;

    & > img {
      &:last-of-type {
        opacity: 0;

        transition: opacity 0.2s;
      }
    }
  }

  &:hover > div > img:last-of-type {
    opacity: 1;
  }
}
