.social-button {
  & > div > img:last-of-type {
    opacity: 0;

    transition: opacity 0.2s;

    -webkit-filter: grayscale(10) brightness(10);
    filter: grayscale(1) brightness(10);
  }

  &:hover > div > img:last-of-type {
    opacity: 1;
  }

  &.active > div {
    & > img:first-of-type {
      opacity: 0;
    }

    & > img:last-of-type {
      opacity: 1;

      -webkit-filter: grayscale(0) brightness(1);
      filter: grayscale(0) brightness(1);
    }
  }
}
