---
layout: with-newsletter
---

<!-- prettier-ignore -->
{% if paginator.page %}
  {% assign currentPage = paginator.page %}
{% else %}
  {% assign currentPage = 1 %}
{% endif %}

<section class="d-flex flex-column" style="padding: 0.75rem 0; gap: 2rem">
  <h2 class="title-1">
    Artigos com a categoria "{{page.category | capitalize}}"
  </h2>

  <ol
    class="post-listing d-flex flex-column align-items-center gap-4"
    data-page="{{ currentPage }}"
    data-totalPages="{{ paginator.total_pages }}"
  >
    <!-- prettier-ignore -->
    {% for post in paginator.posts limit:paginator.per_page %}
    <li>{% include post-card.html type='search' post=post %}</li>
    {% endfor %}
  </ol>
</section>

<!-- prettier-ignore -->
{% assign postCount = paginator.total_posts %}
{% assign postsCovered = paginator.per_page %}

{% if postsCovered < postCount %}
  {% include button.html
    style='secondary'
    text='Carregar mais'
    button_type='load-more'
    align='center'
  %}
{% endif %}
